.search__body {
  background-color: white;
  font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
}
.search__body h1 {
  font-size: 2rem;
}
.search__body p {
  font-size: 0.8rem;
  color: #606060;
}
.search__body .spot-table {
  position: relative;
}
.search__body .spot-table .spot-table__list {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow: auto;
  background-color: white;
}
.search__body .spot-table .spot-table__list .spot-table__item {
  padding: 5px;
  border-bottom: #999 solid 1px;
  cursor: pointer;
}
.search__body .spot-table .spot-table__list .spot-table__item:hover {
  background-color: #333;
  color: whitesmoke;
}
