.venue-search__body {
  background-color: white;
  font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
}
.venue-search__body h1 {
  font-size: 2rem;
}
.venue-search__body p {
  font-size: 0.8rem;
  color: #606060;
}
.venue-search__body .picker {
  position: relative;
}
.venue-search__body .picker .picker__list {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow: auto;
  background-color: white;
}
.venue-search__body .picker .picker__list .picker__item {
  padding: 5px;
  border-bottom: #999 solid 1px;
  cursor: pointer;
}
.venue-search__body .picker .picker__list .picker__item:hover {
  background-color: #333;
  color: whitesmoke;
}
